workflows/tools/Tool - Calendar Schedule.json
{
  "name": "Tool - Calendar Schedule",
  "nodes": [
    {
      "parameters": {},
      "id": "b4c5d6e7-f8a9-0b1c-2d3e-4f5a6b7c8d9e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "calendarId": {
          "__rl": true,
          "value": "YOUR_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "YOUR_EMAIL@example.com"
        },
        "start": "={{ $json.startTime }}",
        "end": "={{ $json.endTime }}",
        "options": {
          "timeZone": "Asia/Singapore"
        }
      },
      "id": "c5d6e7f8-a9b0-1c2d-3e4f-5a6b7c8d9e0f",
      "name": "Check Calendar Conflicts",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-credential-id",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "calendarId": {
          "__rl": true,
          "value": "YOUR_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "YOUR_EMAIL@example.com"
        },
        "start": "={{ $json.startTime }}",
        "end": "={{ $json.endTime }}",
        "summary": "={{ $json.title }}",
        "additionalFields": {
          "description": "={{ $json.description }}",
          "timeZone": "Asia/Singapore"
        }
      },
      "id": "d6e7f8a9-b0c1-2d3e-4f5a-6b7c8d9e0f1a",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-credential-id",
          "name": "Google Calendar OAuth2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Check Calendar Conflicts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Conflicts": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Singapore"
  },
  "versionId": "b4c5d6e7-f8a9-0b1c-2d3e-4f5a6b7c8d9e",
  "meta": {
    "instanceId": "your-n8n-instance-id"
  },
  "id": "tool-calendar-schedule-001",
  "tags": []
}
