workflows/tools/Tool - Calendar Schedule.json
{
  "name": "Tool - Calendar Schedule",
  "nodes": [
    {
      "parameters": {},
      "id": "b4c5d6e7-f8a9-0b1c-2d3e-4f5a6b7c8d9e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendarId": {
          "__rl": true,
          "value": "YOUR_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "YOUR_EMAIL@example.com"
        },
        "returnAll": false,
        "limit": 50,
        "options": {
          "timeMin": "={{ $json.startTime }}",
          "timeMax": "={{ $json.endTime }}",
          "timeZone": "Asia/Singapore"
        }
      },
      "id": "c5d6e7f8-a9b0-1c2d-3e4f-5a6b7c8d9e0f",
      "name": "Check Calendar Conflicts",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-credential-id",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length || 0 }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "e6f7a8b9-c0d1-2e3f-4a5b-6c7d8e9f0a1b",
      "name": "Check No Conflicts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "calendarId": {
          "__rl": true,
          "value": "YOUR_EMAIL@example.com",
          "mode": "list",
          "cachedResultName": "YOUR_EMAIL@example.com"
        },
        "start": "={{ $json.startTime }}",
        "end": "={{ $json.endTime }}",
        "summary": "={{ $json.title }}",
        "additionalFields": {
          "description": "={{ $json.description }}",
          "timeZone": "Asia/Singapore"
        }
      },
      "id": "d6e7f8a9-b0c1-2d3e-4f5a-6b7c8d9e0f1a",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        900,
        200
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-credential-id",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "conflict-error",
              "name": "error",
              "value": "Calendar conflict detected. There are existing events in the requested time slot.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f7a8b9c0-d1e2-3f4a-5b6c-7d8e9f0a1b2c",
      "name": "Return Conflict Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        900,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Check Calendar Conflicts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Conflicts": {
      "main": [
        [
          {
            "node": "Check No Conflicts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check No Conflicts": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Conflict Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Singapore"
  },
  "versionId": "b4c5d6e7-f8a9-0b1c-2d3e-4f5a6b7c8d9e",
  "meta": {
    "instanceId": "your-n8n-instance-id"
  },
  "id": "tool-calendar-schedule-001",
  "tags": []
}
